<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
    <h1>ログイン</h1>

    <div th:if="${param.error}">
        ユーザー名またはパスワードが違います
    </div>

    <div th:if="${param.logout}">
        ログアウトしました
    </div>

    <form th:action="@{/perform_login}" method="post">
        <div>
            <label>ユーザー名</label>
            <input type="text" name="username">
        </div>

        <div>
            <label>パスワード</label>
            <input type="password" name="password">
        </div>

        <button type="submit">ログイン</button>
    </form>

    <a th:href="@{/signup}">新規登録はこちら</a>
</body>
</html>