<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会員登録</title>
</head>
<body>
    <h1>会員登録</h1>

    <div th:if="${errorMessage}" th:text="${errorMessage}"></div>

    <form th:action="@{/signup}" th:object="${signupForm}" method="post">
        <div>
            <label>ユーザー名</label>
            <input type="text" th:field="*{username}">
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>

        <div>
            <label>メールアドレス</label>
            <input type="email" th:field="*{email}">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div>
            <label>パスワード</label>
            <input type="password" th:field="*{password}">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <button type="submit">登録</button>
    </form>

    <a th:href="@{/signin}">ログインはこちら</a>
</body>
</html>