<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レビュー登録</title>
</head>
<body>
	<h2>レビュー登録</h2>
	
	<form th:acton="@{/books/create}"method="POST"th:object="${bookForm}">
		【book id】<br>
		<input type="text" th:field="*{id}">
		<br>
		【book title】<br>
		<input type="text" th:field="*{title}">
		<br>
		【author】<br>
		<input type="text" th:field="*{author}">
		<br>
		【評価】<br>
		<input type="text" th:field="*{rating}">
		<br>
		【コメント】<br>
		<input type="text" th:field="*{comment}">
		<br>
		【読んだ日付】<br>
		<input type="date" th:field="*{readDate}">
		<br>
		<input type="submit" value="登録">
	</form>
		

</body>
</html>