<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>書籍詳細</title>
</head>

<body>

	<header>
		<h1>書籍詳細</h1>
		<nav>
			<a th:href="@{/books}">一覧に戻る</a>
		</nav>
	</header>

	<hr>

	<main>
		<section th:if="${book != null}">
			<h2>タイトル:<span th:text="${book.title}">本のタイトル</span></h2>

			<table border="1">
				<tr>
					<th>著者</th>
					<td th:text="${book.author}">著者名</td>
				</tr>
				<tr>
					<th>ISBN</th>
					<td th:text="${book.isbn}">123-456</td>
				</tr>
				<tr>
					<th>登録日時</th>
					<td th:text="${#temporals.format(book.createdAt, 'yyyy/MM/dd HH:mm')}">2026/03/17</td>
				</tr>
				<tr>
					<th>更新日時</th>
					<td th:text="${#temporals.format(book.updatedAt, 'yyyy/MM/dd HH:mm')}">2026/03/17</td>
				</tr>
			</table>
			
			<h3>内容紹介</h3>
			            <p style="white-space: pre-wrap;" th:text="${book.description}">
			                ここに本の説明文が表示されます。
			            </p>

			            <hr>
			            <div class="actions">
			                <a th:href="@{/books/{id}/edit(id=${book.id})}">この本を編集する</a>
			                <br><br>
			                <a th:href="@{/books/{id}/delete(id=${book.id})}" 
			                   onclick="return confirm('本当に削除しますか？')">この本を削除する</a>
			            </div>
		</section>
		
		<section th:if="${book == null}">
		            <p>指定された書籍は見つかりませんでした。</p>
		            <a th:href="@{/books}">一覧へ戻る</a>
		        </section>
	</main>
</body>

</html>