<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>書籍編集</title>
</head>
<body>

    <header>
        <h1>書籍の編集</h1>
        <nav>
            <a th:href="@{/books/{id}(id=${id})}">詳細に戻る</a>
        </nav>
    </header>

    <hr>

    <main>
        <form th:action="@{/books/{id}/edit(id=${id})}" th:object="${bookForm}" method="post">
            
            <div>
                <label for="title">タイトル:</label><br>
                <input type="text" id="title" th:field="*{title}" required>
				<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>    
			</div>

            <br>

            <div>
                <label for="author">著者:</label><br>
                <input type="text" id="author" th:field="*{author}" required>
				<div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
            </div>

            <br>

            <div>
                <label for="isbn">ISBN:</label><br>
                <input type="text" id="isbn" th:field="*{isbn}">
				<div th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></div>
            </div>

            <br>

            <div>
                <label for="description">内容紹介:</label><br>
                <textarea id="description" th:field="*{description}" rows="5" cols="40"></textarea>
				<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>

            <br>

            <div>
                <button type="submit">更新する</button>
                <a th:href="@{/books/{id}(id=${id})}">キャンセル</a>
            </div>

        </form>
    </main>

</body>
</html>